<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <application>
        <meta-data
            android:name="io.sentry.dsn"
            tools:replace="android:value"
            android:value=""
            />
    </application>
</manifest>
