<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barcodescanner"
    >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.barcodescanner.App"
        >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.barcodescanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <activity
            android:name=".feature.tabs.BottomTabsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.tabs.scan.file.ScanBarcodeFromFileActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.example.barcodescanner.feature.barcode.BarcodeActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.example.barcodescanner.feature.barcode.image.BarcodeImageActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".feature.barcode.receipt.CheckReceiptActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".feature.barcode.receipt.ReceiptActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".feature.tabs.settings.camera.ChooseCameraActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".feature.tabs.settings.formats.SupportedFormatsActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>